html,body{
    margin:0;
    padding:0;
    
    font-family: 'Gugi';
    font-optical-sizing: auto;
    font-weight: normal;
    font-size:1em;
    line-height: 1.5;
    box-sizing: border-box;
    color:blue;
}

h1{
  /* 2024-08-15 온다 : 삭제
  position:absolute;
  left:0;
  top:50%;
  //2024-08-15 온다 : 삭제 */
  /* margin-top:-20px; //2024-08-13 온다 : 삭제 */
  /* transform: translate(0, -50%); //2024-08-13 온다 : 추가, //2024-08-15 온다 : 삭제 */
  flex:1 0 auto; /* 2024-08-15 온다 : 추가 */
  font-size:1.625rem;
  font-weight: normal;
}

.font-color01{
  color:#000;
}

.font-color02{
  color:#333;
}

.font-colorPoint01{
  color:#962929;
}

/* reset */
*, ::after, ::before {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,
ul,ol,li,div,p{
  margin:0;
  padding:0;
}

ul,ol{list-style: none;}

a{text-decoration: none;}

button{vertical-align: top;cursor: pointer; transition: transform 0.3s;}

/* Layout */
/* 
#container : 전체레이아웃박스
#innerWrap : 반응형대응 최대너비 감싸기
header : GNB(홈|온다소개|온다일기|온다플젝|학습도우미|문의하기) 영역
footer : Foot 영역

section.mainVisualWrap : 메인비주얼 영역
section.subVisualWrap : 서브비주얼 영역
section.subjectWrap : 이수과목 영역
section.poemTxtWrap : 위대한 것은 온다의 일들이니-Txt
section.poemImgWrap : 위대한 것은 온다의 일들이니-Img
*/

footer{
  background-image: url(/img/레인보.jpg);
  background-size: cover;
  padding-bottom: 100px;
}

.innerWrap{
  position:relative;
}


/* *************************************************************** */
/*반응형 pc*/
/* *************************************************************** */

  
/* **************************************** */
/* description : 미래유망 온다쌤
/* keywords : 온다프로필, 온다자기소개
/* author : 온다 */ 
/* create Date : 2024-08-05
/* update Date : 2024-08-27
/* **************************************** */


.innerWrap{
  max-width: 1140px;
  margin:0 auto;
}

h1{
  /* 2024-08-15 온다 : 삭제
  position:absolute;
  left:0;
  top:50%;
  //2024-08-15 온다 : 삭제 */
  /* margin-top:-20px; //2024-08-13 온다 : 삭제 */
  /* transform: translate(0, -50%); //2024-08-13 온다 : 추가, //2024-08-15 온다 : 삭제 */
  flex:1 0 auto; /* 2024-08-15 온다 : 추가 */
  font-size:1.625rem;
  font-weight: normal;
}





.two_text {
    display: inline-block;
    transform-origin: center;
    padding: 0 0.5rem;
    color: #631e1e;
    animation: animate 0.2s infinite;
  }
  
  @keyframes animate {
    0% {
      transform: scale(6);
    }
    50% {
      transform: scale(0.75);
    }
    100% {
      transform: scale(6);
    }
    
  
  }
/* 확대 축소 효과 */